<%- include('partials/header') %>

<!--  this page is for change password when user already login 
 -->
<style>
  .inputClass {
    pointer-events: none;
  }
</style>

<form>
  <h4>change password</h4>

  <input class="inputClass" name="email" value="<%= user.email %>" />

  <label for="email">current password</label>
  <input type="text" name="password" placeholder="current password" required />
  <div class="password error"></div>

  <label for="email">new password</label>
  <input
    type="text"
    name="newpassword"
    placeholder="current password"
    required
  />
  <div class="password error"></div>

  <!-- <label for="password"> new password</label>
  <input type="password" name="password1" placeholder="password" required /> -->
  <!-- <label for="password">confirm password</label>
  <input
    type="password"
    name="password2"
    placeholder="confirm password"
    required
  />
  <div class="password error"></div> -->

  <button>change password</button>
</form>
<script>
  const form = document.querySelector("form");
  const passwordError = document.querySelector(".password.error");
  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    // prevent page fromm refreshing
    // reset errr text to empty
    passwordError.textContent = "";

    const password = form.password.value;
    const email = form.email.value;
    const newpassword = form.newpassword.value;
    // console.log(email);

    try {
      const result = await fetch("/passwordchangelogin", {
        method: "POST",
        body: JSON.stringify({
          email: email,
          password: password,
          newpassword: newpassword,
        }),
        headers: { "Content-Type": "application/json" },
      });
      const data = await result.json();
      console.log(data);

      if (data.errors) {
        passwordError.textContent = data.errors.password;
        //render error to frontend
      }

      // if (data) {
      //   window.location.assign("/");
      //   // render page after successful signup
      // }
    } catch (error) {
      console.log(error);
    }
  });
</script>

<%- include('partials/footer') %>
