<%- include('partials/header'); -%>

<form>
  <h2>reset Password</h2>
  <label for="email">Email</label>
  <input type="text" name="email" placeholder="email" required />
  <div class="email error"></div>
  <button>reset</button>
</form>
<script>
  const form = document.querySelector("form");
  const emailError = document.querySelector(".email.error");
  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    // prevent page fromm refreshing
    // reset errr text to empty
    emailError.textContent = "";

    const email = form.email.value;
    // console.log(email);

    try {
      const result = await fetch("/resetpassword", {
        method: "POST",
        body: JSON.stringify({ email: email }),
        headers: { "Content-Type": "application/json" },
      });
      const data = await result.json();
      console.log(data);

      if (data.errors) {
        emailError.textContent = data.errors.email;
        //render error to frontend
      }

      if (data.user) {
        window.location.assign("/login");
        // render login page after succeful password reset mail has been sent 
      }
    } catch (error) {
      console.log(error);
    }
  });
</script>

<%- include('partials/footer'); -%>
